.ace_editor {
  height: 680px;
  padding: 0;
  margin: 0;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  >.col,
  >[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

#editor,
#results-editor {
  line-height: 1.5;
}