.ace_editor {
  height: 680px;
  padding: 0;
  margin: 0;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  >.col,
  >[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

#editor,
#results {
  line-height: 1.5;
}

.editor-marker {
  position: absolute;
  border-bottom: 2px solid red;
  border-radius: 0;
}

.ace-terminal-theme .ace_marker-layer .ace_bracket {
  background: transparent;
}

.ace-terminal-theme .ace_marker-layer .ace_bracket-start {
  background: transparent;
}

.ace-terminal-theme .ace_marker-layer .ace_bracket-unmatched {
  margin: -1px 0 0 -1px;
  border: 1px solid transparent
}

.ace-terminal-theme .ace_compiler.ace_message {
  color: #9F9F9F
}

.ace-terminal-theme .ace_compiler.ace_error {
  color: #D54E53
}

.ace-terminal-theme .ace_compiler.ace_warning {
  color: #E7C547
}

.ace-terminal-theme .ace_compiler.ace_note {
  color: #B9CA4A
}