.ace_editor {
  height: 680px;
  padding: 0;
  margin: 0;
}

#terminal {
  height: 680px;
  padding: 0;
  margin: 0;
}

#terminal>div.toolbar {
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  z-index: 9999;
  background-color: rgba(100, 100, 100, 0.25);
  opacity: 0;
}

#terminal>div.toolbar>a {
  color: white;
  text-decoration: none;
}

.terminal.xterm {
  height: 680px;
}

.terminal.xterm {
  padding: 5px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  >.col,
  >[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

#editor {
  line-height: 1.5;
}

.editor-marker-error {
  position: absolute;
  border-bottom: 2px solid red;
  border-radius: 0;
}

.editor-marker-warning {
  position: absolute;
  border-bottom: 2px solid gold;
  border-radius: 0;
}

.editor-marker-info {
  position: absolute;
  border-bottom: 2px solid gold;
  border-radius: 0;
}

.ace_tooltip {
  background-color: white;
  background-clip: padding-box;
  border: 1px solid rgba(0, 8, 16, 0.15);
  border-radius: 4px;
  color: #333;
  box-shadow: 0 4px 14px -2px rgba(0, 8, 16, 0.08);
  background-image: none;
}