body {
  margin-bottom: 0;
  background-color: transparent;
}

.embedded {
  background-color: #F5F5F5;
  border: 1px solid #DDDDDD;
  padding: 0;
}

#editor {
  height: calc(100vh - 2px);
}

#terminal {
  height: calc(100vh - 2px);
}

.terminal.xterm {
  height: calc(100vh - 2px);
}

@media screen and (max-width: 480px) {
  #editor {
    height: calc(50vh - 1px);
  }

  #terminal {
    height: calc(50vh - 1px);
  }

  .terminal.xterm {
    height: calc(50vh - 1px);
  }
}

div.run-button-background {
  position: absolute;
  top: 0;
  right: 42px;
  color: white;
  z-index: 9999;
  background-color: rgba(100, 100, 100, 0.6);
}

#run-button {
  color: white;
}

div.open-button-background {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  z-index: 9999;
  background-color: rgba(100, 100, 100, 0.6);
}

#open-button {
  color: white;
}