body {
  background-color: transparent;
}

.terminal {
  height: 100%;
}

div.run-button-background {
  position: absolute;
  top: 0;
  right: calc(2.4em + 2px + 2px);
  width: 2.4em;
  height: 2.4em;
  color: white;
  z-index: 1081;
  background-color: rgba(100, 100, 100, 0.6);
}

#run-button {
  color: white;
}

div.open-button-background {
  position: absolute;
  top: 0;
  right: 2px;
  width: 2.4em;
  height: 2.4em;
  color: white;
  z-index: 1081;
  background-color: rgba(100, 100, 100, 0.6);
}

#open-button {
  color: white;
}
