.popover {
  max-width: 100vw;
}

.share-sheet-textarea {
  resize: none;
}

.grow-textfield {
  vertical-align: top;
  align-items: center;
  position: relative;
}

.grow-textfield::after {
  content: attr(data-value) " ";
  visibility: hidden;
  white-space: pre-wrap;
}

.grow-textfield.stacked {
  align-items: stretch;
}

.grow-textfield.stacked::after,
.grow-textfield.stacked input,
.grow-textfield.stacked textarea {
  grid-area: 2/1;
}

.grow-textfield::after,
.grow-textfield input,
.grow-textfield textarea {
  grid-area: 1/2;
}
