html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #F5F5F5;
  color: #333333;
}

/* Swift Logo */
.fa-swift {
  color: #F05138;
}

.dropdown-menu {
  line-height: 1;
}

/* Dropdown group button style */
.dropdown-toggle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* Dropdown caret */
.dropup .dropdown-toggle::after {
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

.fa-play-circle {
  margin-left: 12px;
}

.package-version {
  color: #999999;
  font-family: sans-serif, monospace;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #F5F5F5;
}

/* GitHub Icon */
.fa.fa-github {
  color: #999999;
}