#version-picker {
  max-height: 80vh;
  overflow-y: auto;
  line-height: 1.2;
}

.version-picker-item.active-tick a::after {
  font-family: "bootstrap-icons";
  content: "\f272";
  color: #0d6efd;
  float: right;
}
