#version-picker {
  max-height: 80vh;
  overflow-y: auto;
  line-height: 1.2;
}

.version-picker-item.active-tick a::after {
  content: "";
  background-image: url("../images/check.svg");
  width: 16px;
  height: 16px;
  float: right;
}
