body {
  background-color: #f57f17;
}

.modal-title {
  font-weight: 900;
}

.modal-content {
  border-radius: 13px;
}

.modal-body {
  color: #3b3b3b;
}

.img-thumbnail {
  border-radius: 33px;
  width: 61px;
  height: 61px;
}

.modal-footer {
  display: block;
}

.ur {
  border: none;
  background-color: #e6e2e2;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.cpy {
  border: none;
  background-color: #e6e2e2;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  cursor: pointer;
}

button.focus,
button:focus {
  outline: 0;
  box-shadow: none !important;
}

.ur.focus,
.ur:focus {
  outline: 0;
  box-shadow: none !important;
}

.share-sheet-copy-message {
  font-size: 12px;
  color: #ee5535;
}

.btn-social,
.btn-social:visited,
.btn-social:focus,
.btn-social:hover,
.btn-social:active {
  color: #ffffff;
  text-decoration: none;
  transition: opacity 0.15s ease-in-out;
}

.btn-social:hover,
.btn-social:active {
  opacity: 0.75;
}

.btn-facebook {
  background-color: #3b5998;
}

.btn-twitter {
  background-color: #1da1f2;
}

.btn-line {
  background-color: #00b900;
}

.btn-pocket {
  background-color: #ef4157;
}

.fluid {
  display: flex;
}

.fluid a {
  flex-grow: 1;
  margin-right: 0.25rem;
}

.fluid a:last-child {
  margin-right: 0rem;
}
