body {
  background-color: #f57f17;
}

.modal-title {
  font-weight: 900;
}

.modal-content {
  border-radius: 13px;
}

.modal-body {
  color: #3b3b3b;
}

.img-thumbnail {
  border-radius: 33px;
  width: 61px;
  height: 61px;
}

.fab:before {
  position: relative;
  top: 13px;
}

.smd {
  width: 200px;
  font-size: small;
  text-align: center;
}

.modal-footer {
  display: block;
}

.ur {
  border: none;
  background-color: #e6e2e2;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.cpy {
  border: none;
  background-color: #e6e2e2;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  cursor: pointer;
}

button.focus,
button:focus {
  outline: 0;
  box-shadow: none !important;
}

.ur.focus,
.ur:focus {
  outline: 0;
  box-shadow: none !important;
}

.message {
  font-size: 11px;
  color: #ee5535;
}
